{% extends "../main.html.twig" %}
{% block content %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="left">
        <tr>
            <td align='left'>
                <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable"><p><h1> Bienvenue dans Labs Freelance.com! </h1></p></div>
                </div>
            </td>
        </tr>
        <tr>
            <td height='15'>
                <div style="border-top:1px solid #e5e9f4; margin-top:20px"></div>
            </td>
        </tr>
    </table>
{% endblock %}