<!doctype html>
<html>
<head>
    <meta charset="UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ subject }}</title>
    <!--[if gte mso 10]>
    <style type="text/css" media="all">
        /* Outlook 2013 Height Fix */
        body, table, td { font-family: Arial, Helvetica, sans-serif !important;}
    </style>
    <![endif]-->
    <style type="text/css">
        body {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            margin: 0 !important;
            width: 100% !important;
            -webkit-text-size-adjust: 100% !important;
            -ms-text-size-adjust: 100% !important;
            -webkit-font-smoothing: antialiased !important;
        }
        .tableContent img {
            border: 0 !important;
            display: block !important;
            outline: none !important;
        }
        .logoSvg {
            display: block;
            height: 60px;
            width: 150px;
            margin-bottom: 0;
            vertical-align: middle;
            overflow: hidden;
            transition: all 0.4s ease-in-out;
            -webkit-transform: translate3d(0, 0, 0);
        }
        a {
            color: #382F2E;
        }
        p, h1 {
            color: #382F2E;
            margin: 0;
        }
        p {
            text-align: left;
            font-size: 14px;
            line-height: 19px;
        }
        a.link1 {
            color: #382F2E;
        }
        a.link2 {
            font-size: 16px;
            text-decoration: none;
            color: #ffffff;
        }
        .link3{
            color:#555555;
            padding:10px 18px;
            border-radius:3px;
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            background:#ffffff;
        }
        h2 {
            text-align: left;
            color: #999999;
            font-size: 14px;
            border-bottom:1px solid #DDDDDD;
            padding-bottom: 4px;
        }
        h3 {
            text-align: left;
            color: #999999;
            font-size: 12px;
        }

        table td, table th {
            border: none!important;
        }

        div, p, ul, h1 {
            margin: 0;
        }
        .bgBody {
            background: #ffffff;
        }
        .bgItem {
            background: #ffffff;
        }

        @media only screen and (max-width: 480px) {
            table[class="MainContainer"], td[class="cell"] {
                width: 100% !important;
                height: auto !important;
                margin-top: 20px!important;
            }
            td[class="specbundle"] {
                width: 100% !important;
                float: left !important;
                font-size: 13px !important;
                line-height: 17px !important;
                display: block !important;
                padding-bottom: 15px !important;
            }

            td[class="spechide"] {
                display: none !important;
            }

            img[class="banner"] {
                width: 100% !important;
                height: auto !important;
            }

            td[class="left_pad"] {
                padding-left: 15px !important;
                padding-right: 15px !important;
            }
        }

        @media only screen and (max-width: 540px) {
            table[class="MainContainer"], td[class="cell"] {
                width: 100% !important;
                height: auto !important;
                margin-top: 5px!important;
            }

            td[class="specbundle"] {
                width: 100% !important;
                float: left !important;
                font-size: 13px !important;
                line-height: 17px !important;
                display: block !important;
                padding-bottom: 15px !important;
            }

            td[class="spechide"] {
                display: none !important;
            }

            img[class="banner"] {
                width: 100% !important;
                height: auto !important;
            }

            .font {
                font-size: 18px !important;
                line-height: 22px !important;

            }

            .font1 {
                font-size: 18px !important;
                line-height: 22px !important;

            }
        }
    </style>
</head>
<body style="padding-top: 0; padding-bottom: 0; background-repeat: repeat; width:
 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;">
<table bgcolor="#f6f6f6" width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent" align="center"
       style='font-family:Helvetica, Arial,serif; border-radius: 3px;'>
    <tbody>
    <tr>
        <td>
            <table  border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td height='50'></td>
                </tr>
                </tbody>
            </table>
            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff"
                   class="MainContainer">
                <tbody>
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td valign="top" width="20">&nbsp;</td>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <!-- =============================== Header ====================================== -->
                                        <tr>
                                            <td height='15' class="spechide"></td>
                                        </tr>
                                        <tr>
                                            <td class='movableContentContainer ' valign='top'>
                                                <div class="movableContent"
                                                     style="border: 0; padding-top: 0; position: relative;">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr><td height="35"></td></tr>
                                                        <tr>
                                                            <td>
                                                                <table width="100%" border="0" cellspacing="0"
                                                                       cellpadding="0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td valign="top" class="specbundle"
                                                                            align="center">
                                                                                <div class="logoSvg">
                                                                                  <img src="" data-height-percentage="61"
                                                                                       data-actual-width="300" data-actual-height="133"
                                                                                       alt="Logo">
                                                                                </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                        {% block content %}{% endblock %}
                                                <div class="movableContent"
                                                     style="border: 0; padding-top: 0; position: relative;">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td height='40'>
                                                        </tr>
                                                        <tr>
                                                            <td style='border-bottom:1px solid #DDDDDD;'></td>
                                                        </tr>
                                                        <tr>
                                                            <td height='20'></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table width="100%" border="0" cellspacing="0"
                                                                       cellpadding="0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td valign="top" class="specbundle">
                                                                            <div class="contentEditableContainer contentTextEditable">
                                                                                <div class="contentEditable">
                                                                                    <p style='text-align:left;
                                                                                    font-size:13px;line-height:20px;'>
                                                                                        <span style='font-weight:bold;'>SLS Service</span>
                                                                                        <br>
                                                                                        39 avenue marie curie<br>
                                                                                        77600 BUSSY SAINT GEORGES<br>
                                                                                        Tel: 06 52 85 81 48
                                                                                        <br>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td valign="top" width="30"
                                                                            class="specbundle">
                                                                            &nbsp;
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height='20'></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </div>

                                                <!-- =============================== footer ====================================== -->

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <table  border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td height='50'></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>